@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.font-family{
    font-family: "Fira Sans", serif;
}

/* style nav bar start */
nav ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 31px 51px;
}
nav li{
    list-style: none;
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.btn-sign{
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border-radius: 7px;
    border:none;
    border: 1px solid #006A50;
    background: none;
    padding: 9px 20px;
}
/* style nav bar end */